<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>pageSize</param-name>
  	<param-value>4</param-value>
  </context-param>
  <session-config>
    <session-timeout>3600</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.Kimlau.drp.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/sysmgr/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FiscalYearPeriodController</servlet-name>
    <servlet-class>com.Kimlau.drp.controller.FiscalYearPeriodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiscalYearPeriodController</servlet-name>
    <url-pattern>/basedata/FiscalYearPeriodController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItemController</servlet-name>
    <servlet-class>com.Kimlau.drp.controller.ItemController</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>4</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemController</servlet-name>
    <url-pattern>/basedata/ItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.Kimlau.drp.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/basedata/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FlowCardController</servlet-name>
    <servlet-class>com.Kimlau.drp.controller.FlowCardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlowCardController</servlet-name>
    <url-pattern>/flowcard/FlowCardController</url-pattern>
  </servlet-mapping>
</web-app>