<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="com.bjpowernode.drp.basedata.manager.ItemService" class="com.bjpowernode.drp.basedata.manager.ItemServiceImpl"/>
	<bean id="com.bjpowernode.drp.flowcard.service.FlowCardService" class="com.bjpowernode.drp.flowcard.service.impl.FlowCardServiceImpl"/>

	
	<bean id="com.bjpowernode.drp.basedata.dao.ItemDao" class="com.bjpowernode.drp.basedata.dao.ItemDao4OracleImpl"/>
	<!-- 
	<bean id="itemDao" class="com.bjpowernode.drp.basedata.dao.ItemDao4MySqlImpl"/>
	 -->
    <bean id="com.bjpowernode.drp.flowcard.dao.FlowCardDao" class="com.bjpowernode.drp.flowcard.dao.impl.FlowCardDaoImpl"/>
</beans>